*{
    margin: 0px;
    padding: 0px
}
.pagination-container{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.pagination-container p{
    font-size: larger;
}
.pagination-container .btn{
    padding: 10px 20px;
    border-radius: 5px;
    background: #DD1E53;
    cursor: pointer;
}